body{
    overflow-y: auto;
    background-color: #FFF;
}
#ode{
    background-color: #FFF;
    color:#FFF;
    line-height: 58px;
    font-size: 20px;
    float: left;
    cursor: pointer;
}
#view{
    background-color: #FFF;
    cursor: pointer;
    margin-left: 10px;
    float: left;
    color:#FFF;
    line-height: 58px;
    font-size: 20px;
}
.top{
    background-color: #8c8c8c;

}
h1,h2,h3{
    font-family: "Raleway";
}
#details,#addimg{ background-color: #FFF;
          cursor: pointer;
          margin-left: 10px;
          float: left;
          margin-top: 10px;
          /*color:#FFF;*/
          /*line-height: 58px;*/
          /*font-size: 20px;*/
}
